body{
    margin: 0px;
    padding: 0px;
}
header{
    /* background-color: black; */
}
h1{
    margin: 5px;
    font-family: fantasy;
    font-style: oblique;
    color: rgb(206, 108, 38);
    font-size: 50px;
}
h2{
    margin: 5px;

    font-family: fantasy;
    font-style: italic;
    color: rgb(252, 252, 6);
    font-size: 50px;
}
h4{
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color: rgb(206, 147, 38);
    font-size: 15px;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.headerTop{
    padding: 5px;
    background-color:black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.headerTop__title{
    text-align: center;
}
.headerTop__img{
    padding: 20px;
    width: 150px;
    height: 150px;
    border-radius: 400px;
}
.headerTop__menu ul{
    margin: 0px;
    padding: 5px;
    background-color: black;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.headerTop__menu--li{
    padding: 10px 60px 10px 60px;
    background-color: rgba(245, 245, 245, 0.747);
    border-color: whitesmoke;
    font-size: 15px;
    border-radius: 25%;
    
}
main{
    background-color: burlywood;
}